# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage
lib-cov
coverage
*.lcov
.nyc_output

# Node native addons
build/Release

# Dependencies
node_modules
package-lock.json

# Environment variables
.env
.env.*
!.env.example

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# TypeScript build output
dist/
*.tsbuildinfo

# Eslint cache
.eslintcache

# npm
.npm
*.tgz
