# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage
lib-cov
coverage

# Node native addons
build/Release

# Dependencies
node_modules
package-lock.json

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# TypeScript build output
dist/
*.tsbuildinfo
